<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Corporate Summary Report</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
