<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBToDoList.Properties.Settings.TodolistConnectionString"
            connectionString="Data Source=10.88.10.148;Initial Catalog=Todolist;Persist Security Info=True;User ID=sa;Password=@nywherE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>