body 
{
    margin: 0; padding: 0; line-height: 1.2em;
	font-family:Tahoma;
	font-size:12px;
	color:Black;
}
.comment{ color:Red;}

a{      
     color: #2852c2;     
     text-decoration: none;
     
}
a:hover {
     color: #f35a2e;      
     text-decoration: none;
}
a.Menu_link{      
     color: #2852c2;     
     text-decoration: none;
     
}
a.Menu_link:hover {
     color: #f35a2e;      
     text-decoration: none;
}
/***************** tab color ******************/
.tabHeader
{
    padding-left:5px;
    background-color:#507CD1;
    color: #FFFFFF;
    font-weight:bold;
    font-size:12px;
}
.divtitleNameStyle
{
    width:150px;
    background-color:Silver; 
    padding:4px 4px;
    color:#203E5F;
}
/****************************Gridview***********************************/
.headerStyle
{
	background-color: #507CD1;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	color: White;
	border-color: Black;
	border-width: 1px;
	padding-left:5px;
}

.itemStyle
{
	background-color: #FFFFFF;
	color: #000000;
	font-size: 10pt;
	border-color: Black;
	border-width: 1px;
}

.alternateItemStyle
{
	background-color: #FFFFFF;
	color: #000000;
	font-size: 10pt;
	border-color: Black;
	border-width: 1px;
}

/****************************Gridview***********************************/
button
{
	padding: 3px 10px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 6px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); /* Disable Select text */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover, button:focus 
{
	background: #5460BA;
	border: solid 1px #2A4E77;
	text-decoration: none;
}

button:active 
{
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #203E5F;
}
.buttoncss
{
	padding: 3px 10px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 6px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); /* Disable Select text */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.buttoncss:hover,.buttoncss:focus
{
	background: #5460BA;
	border: solid 1px #2A4E77;
	text-decoration: none;
}

.buttoncss:active
{
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #203E5F;
}
/************************* end button ***/

.panelmodern
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	border-radius: 6px;
	color: #304A97;
	text-align: center;
	font-size: small;
	font-family: Tahoma;
}

.panelNormal
{
	padding: 2px 0px 2px 5px;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px;
	border-color: #4467D0;
	border-radius: 6px;
	border-style: solid;
	font-size: small;
	font-family: Tahoma;
}
/*************************** end panel ****/
.buttonsubmit
{
    border-style:solid;
    border-width:1px;
    color:#2f3e46;
    padding:1px 15px 1px;
    text-align:center;
    cursor:pointer;
    background-color:#b7b9f9;
    background-image:none;
    border-color:#b7b9f9;
    display:inline-block;
    outline:medium none;
    text-decoration: none;
}


 .buttonsubmit:hover
{
    border-style:solid;
    border-width:1px;
    color:#2f3e46;
    padding:1px 15px 1px;
    text-align:center;
    cursor:pointer;
    background-color:#d2d4FF;
    background-image:none;
    border-color:#d2d4FF;
    text-decoration: none;
    display:inline-block;
    outline:medium none;
}

#page
{
	width:1270px;
	
	margin:0 auto;
}

#top-menu
{
	width:100%;
	font-size:14px;
	font-weight:bold;
}




table .text-right
{
	text-align:right;
}
td{ padding-left:5px; padding-top:5px; padding-bottom:5px; text-align:left;}

.td-width
        {
    	    width:150px;
    	    padding:6px 6px;
        }
        .td-border
        {
    	    border:1px solid silver;
        }
        .textbox-width
        {
    	    width:95%;
        }
        
        
/* Theme TabContrainer Ajax Control Toolkit*/
.ajax__tab_Custom .ajax__tab_header {font-family:tahoma;background:url("../images/tab-line.gif") repeat-x bottom;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_tab {font:bold 12px Tahoma;color:Black;padding:5px 5px;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_inner {padding-left:3px;border:0px solid #999999;border-bottom:0;border-right:0;border-top-right-radius:8px;background-color:Silver;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_outer  {padding-right:4px;border:0px solid #999999;border-top-right-radius:8px;background-color:#3399FF;}

.ajax__tab_Custom .ajax__tab_header .ajax__tab_hover .ajax__tab_outer {cursor:pointer;border:1px solid #999999;border-bottom:0;border-top-right-radius:8px;background-color:Yellow;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_hover .ajax__tab_inner {cursor:pointer;border:0px solid #999999;border-bottom:0;border-top-right-radius:8px;background-color:Silver;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_hover .ajax__tab_tab {cursor:pointer;color:Black;border:0px solid #999999;border-bottom:0;border-top-right-radius:8px;background-color:Silver;}

.ajax__tab_Custom .ajax__tab_header .ajax__tab_active .ajax__tab_outer {cursor:pointer;border:1px solid #999999;border-bottom:0;border-top-right-radius:8px;background-color:Orange;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_active .ajax__tab_inner {cursor:pointer;border:0px solid #999999;border-bottom:0;border-top-right-radius:8px;background-color:White;}
.ajax__tab_Custom .ajax__tab_header .ajax__tab_active .ajax__tab_tab {cursor:pointer;color:Black;border:0px solid Silver;border-bottom:0;border-top-right-radius:8px;background-color:White;}

.ajax__tab_Custom .ajax__tab_body {font-family:tahoma;font-size:12px;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}