<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="pathserver" value="~/" />
    <add key="DownloadFile" value="http://10.88.26.55/"/>
    <add key="URL" value="http://10.88.26.55/ToDoList/"/>
    <add key="pathTempImport" value="/tempUpload/" />
    <add key="PathUpload" value="/AllFileUpload/test01/{0}" />
    <add key="IsWriteLog" value="0" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
  </appSettings>
  <connectionStrings>
    <add name="TodolistConnectionString" connectionString="Data Source=10.88.17.43;Initial Catalog=Todolist;Persist Security Info=True;User ID=sa;Password=sa1234"
      providerName="System.Data.SqlClient" />
    <add name="PathWayConnectionString" connectionString="Data Source=10.88.17.43;Initial Catalog=PathWay;Persist Security Info=True;User ID=sa;Password=sa1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <sessionState timeout="180" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization
     fileEncoding="utf-8"
          requestEncoding="utf-8"
          responseEncoding="utf-8"
          culture="en-US"
          uiCulture="en-US"
     />
    <pages enableEventValidation="false" enableViewStateMac="false" validateRequest="false" theme="FontSkin" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime
  executionTimeout="90"
  maxRequestLength="4096"
  useFullyQualifiedRedirectUrl="false"
  minFreeThreads="8"
  minLocalRequestFreeThreads="4"
  appRequestQueueLimit="100"
  enableVersionHeader="true"
/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="PLogin.aspx" />
    </customErrors>

  </system.web>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_GetDataBytrakSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.88.10.77/wsbhq2016/WS_GetDataBytrak.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_GetDataBytrakSoap"
        contract="WS_Trakcare.WS_GetDataBytrakSoap" name="WS_GetDataBytrakSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>